  <div class="mt-4">
<form action="/news" method="GET">
  <div class="mb-3">    
    <label for="search-Input">Từ khóa</label>
    <input type="text" class="form-control" name="q" id="search-Input" aria-describedby="emailHelp" placeholder="Nhap tu khoa tim kiem" >
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
  </div>