  <div class="mt-4">
    <form action="/search" method="POST">
      <div class="mb-3">    
         <label for="search-Input">Từ khóa</label>
         <input type="text" class="form-control" name="q" id="search-Input" aria-describedby="emailHelp" placeholder="Nhap tu khoa tim kiem" >
       </div>

       <div class="mb-3">    
         <label for="gender-Input">Giới tính</label>
         <select class="form-control" name="gender" id="gender-Input" aria-describedby="emailHelp">
           <option value="">Chọn giới tính</option>
           <option value="male">Nam</option>
           <option value="female">Nữ</option>
         </select>
       </div>
       <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
  </div>